<%= render 'shared/errors', obj: @article %>
      
<%= form_for @article do |f| %>
  <div class="container p-3">
    <div class="form-group row m-2">
      <%= f.label :title, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row m-2">
      <%= f.label :description, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_area :description,  class: "form-control" %>
      </div>
    </div>
    <div class="form-group row m-2">       
      <div class="col-md-2 offset-md-2">
        <%= f.submit "Save article", class: "btn btn-outline-primary btn-sm mt-2" %>
      </div>
    </div>
  </div>
<% end %>


