<div class="container-fluid">
  <div class="row">
    <div class="col center">
      <h1>Articles</h1>  
    </div>
  </div>
  <%# <div class="row">
    <div class="col-md-4">
      <%= link_to 'Create new article', new_article_path, class: "btn btn-primary btn-lg" %>
    <%# </div>
  </div> %>
  
     <% @articles.each do |article| %>
      <div class="article_container container-sm">
        <div class="row">
          <div class="col center">
            <%= link_to article.title, article_path(article) %>
          </div>            
        </div>
        <div class="row">
          <div class="col center">
            <%= article.description.truncate(100, separator: ' ') %> <br>
            <div class="article-meta-details">            
              <small>Created by: <%= article.user.username %>,
                <%= time_ago_in_words(article.created_at) %> ago. <br>
                    Last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
            </div>      
          </div>            
        </div>
        <div>
          <div class="container-sm">    
             <div class="row">
                
                  <div class="col-sm-2">
                    <%= link_to 'Edit this article', edit_article_path(article) %>
                  </div>
                  <div class="col-sm-2">
                    <%= link_to 'Delete this article', article_path(article), method: :delete,                                    data: {confirm: "Are you sure?"} %>
                  </div>
             </div> 
                         
          </div>
        </div>
      </div>
    <% end %>  
  
</div>


