<h1>Showing selected article</h1>
<p><%= link_to 'Back to list of articles', articles_path, :class => "btn btn-secondary"  %></p>
<p><%= link_to 'Edit this article', edit_article_path(@article), :class => "btn btn-secondary"  %></p>
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-secondary" %>
<p>Title:  <%= @article.title %></p>
<p>Description:  <%= @article.description %></p>
