<%= render 'shared/errors', obj: @user %>


<%= form_for @user do |f| %>
  <div class="container p-3">
    <div class="form-group row m-2">
      <%= f.label :username, class: "col-md-2 col-form-label" %>
        <div class="col-md">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter username" %>
        </div>
    </div>
    <div class="form-group row m-2">
      <%= f.label :email, class: "col-md-2 col-form-label" %>
        <div class="col-md">
          <%= f.email_field :email,  class: "form-control", placeholder: "Enter email" %>
        </div>
    </div>
    <div class="form-group row m-2">
      <%= f.label :password, class: "col-md-2 col-form-label" %>
        <div class="col-md">
          <%= f.password_field :password,  class: "form-control", placeholder: "Enter password" %>
        </div>
    </div>
    <div class="form-group row m-2">       
      <div class="col-md-2 offset-md-2">
        <%= f.submit(@user.new_record? ? "Sign up" : "Update your account", class: "btn btn-outline-primary btn-sm") %>
      </div>
    </div>
  </div>  
<% end %>
