<div class="container p-3">
  <div class="row m-2">    
    <div class="col center">
      <h1>All users</h1>
    </div>
  </div>


  <div class="row justify-content-md-center">      
      <%= will_paginate %>     
  </div>

  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <ul class="listing center">
        <li>
          <%= link_to gravatar_for(user), user_path(user) %>      
        </li>
        <li>
          <%= link_to user.username, user_path(user) %>
        </li>
        <li>
          <small><%= pluralize(user.articles.count, "article") %></small>
        </li>
        <% if logged_in? && current_user.is_admin? %>
          <li><%= link_to 'Delete user', user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-md-center">      
      <%= will_paginate %>     
  </div>
</div>
